*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.artist-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    max-width: 25%;
}

.front-card{
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
} 

.back-card{
    transform: perspective(600px) rotateY('0deg');
}

img{
    min-width: 100%;
    height: 300px;
}

.omarmontes, .kaseo{
    width: 300px;
    max-height: 300px;
}